<div class="container-fluid montserrat">
  <!-- <app-top-nav></app-top-nav> -->

  <div class="row">
    <div class="card col-lg-2 col-sm-12 bg-green">
      <h5 class="text-center font-weight-bold mt-3 text-light">Ben Matela</h5>
      <div class="text-center mt-2">
        <img src="../assets/illustrations/profile_pic.svg" class="rounded-circle" alt="Profile Pic" height="150"
          width="150">
      </div>
      <p class="text-center font-weight-bold mt-2 text-light">Web Developer</p>
    </div>
    <div class="card col-lg-10 col-sm-12 main-card-max-height bg-green">
      <div class="row info-container mt-3">
        <div class="col-lg-6 col-sm-12">
          <h1 class="font-weight-bold text-cream-white text-center mt-4">Hi I'm Ben 🙂</h1><br>
          <h5 class="text-cream-white text-center mt-3 font-weight-bold">A passionate Web Developer 🕷️
            having experience building responsive web applications using Angular 2+, HTML, CSS and JavaScript.
            <br><br>I also have some experience with .NET Core C# and Firebase.</h5><br>
        </div>

        <div class="col-lg-6 col-sm-12 text-center intro-banner">
        </div>
      </div>
    </div>
  </div>
</div>