// .table-banner-up {
//     background: url('../../../assets/svg/news_pink.svg');
//     background-position: center center;
//     background-repeat: no-repeat;
//     opacity: 0.90;
//     background-size: cover;
// }

.small-card {
    min-height: 130px;
    max-height: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: auto;
}

.card-max-height {
    min-height: 100vh;
    max-height: 100vh;
}

