<div class="container-fluid montserrat">
  <!-- <app-top-nav></app-top-nav> -->

  <div class="row">
    <div class="card col-lg-2 col-sm-12 bg-green">
      <h5 class="text-center font-weight-bold mt-2 text-light">Ben Matela</h5>
      <div class="text-center mt-2">
        <img src="../assets/illustrations/profile_pic.svg" class="rounded-circle" alt="Profile Pic" height="150"
          width="150">
      </div>
      <p class="text-center font-weight-bold mt-2 text-light">Web Developer</p>
    </div>
    <div class="card col-lg-10 col-sm-12 card-max-height">

    </div>
  </div>
</div>