.bg-green {
    background-color: tomato;
}

.text-cream-white {
    color: #EDF5E1;
}

.montserrat {
    font-family: 'Montserrat';
}

.roboto {
    font-family: 'Roboto';
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}
